@import "tailwindcss";

body {
    background-color: #e4e4e4;
}


@keyframes soft-float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}

.animate-soft-float {
  animation: soft-float 2.5s ease-in-out infinite;
}


.section-title {
  font-size: 2rem;
  font-weight: bold;
}